@charset "UTF-8";

@font-face{
    font-family: 'fonteracionais';
    src: url("C:/Users/User/Desktop/pratica/Projetin/fonte.racionais/OldLondon.ttf"), fotmat('opentype');
    src: url("C:/Users/User/Desktop/pratica/Projetin/fonte.racionais/OldLondon.ttf"), format('truetype');
    font-weight: normal;
    font-style: normal;


}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

body {
    background-color: black;
}

header {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, red , black 25%);
    background-attachment: fixed;
}

#tituloprincipal {
    font-family: 'fonteracionais', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 5px;
    margin: 0 auto;
    
}

#subtituloprincipal {
    font-family: 'fonteracionais', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 8px 0px 20px 0px;
    margin: 0 auto;
    padding: 10 px 0px 0px 20px;


}

.menu {
    
    color: white;
    height: 60px;
    width: 100%;
}

.menu ul{
    display: flex;              /*alinha os itens na horizontal */
    justify-content: space-around;    /*centraliza o menu */
    gap: 30px;                  /* controla a distancia dos itens */
    list-style: none;           /* remove as bolinhas da lista */
    padding: 0;
    margin: 0;

}

.menu li {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;

}


.menu a {
    text-decoration: none;    /*remove o sumblinado */
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}